<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Cloud To-Do</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div class="container">
  <h1>📝 MongoDB Atlas To-Do</h1>

  <form action="/add" method="POST" class="add-form">
    <input type="text" name="title" placeholder="Add a task..." required />
    <button>Add</button>
  </form>

  <ul class="todo-list">
    <% todos.forEach(todo => { %>
      <li class="<%= todo.completed ? 'done' : '' %>">
        <form action="/toggle/<%= todo._id %>" method="POST">
          <button class="check">✔</button>
        </form>

        <span><%= todo.title %></span>

        <form action="/delete/<%= todo._id %>" method="POST">
          <button class="delete">✖</button>
        </form>
      </li>
    <% }) %>
  </ul>
</div>

</body>
</html>
